
<h3>Hello World</h3>

<a href="/say/goodbye">Say Goodbye</a>  <br/>
<%= link_to "Say Goodbye via ruby", say_goodbye_path %>

<p> 2 + 2 </p>
<p> 2 * 3 </p>

<p>

<p><%= 2 + 2 %> with equals presentation tag</p> 
<p><% 2 * 3 %>  without equal is evaluation</p>

<%# temp = 10 %>
<% temp = Random.rand(100) %>
<p>The temperature is set to <%= temp %></p>

<% if temp > 25 %>
	<p> Time for some outdoor activity</p>
<% else %>
	<p>Better an indoor activity</p>
<% end %>

<% product_prices = [10,23,50,90,100] %>
<p>There are <%= product_prices.size %> products in the cart </p>
<% sum = 0 %>
<%= product_prices %>
<% product_prices.each do |price| %>
	<% sum += price %>
<% end %>
<p>The total of the cart is <strong>INR <%= sum %></strong></p>



